# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
bnb = pd.read_csv('../files/AB_NYC_2019.csv')
bnb.head()
pd.set_option('display.max_columns', None)

In [6]:
# Which hosts are the busiest and why
host_count = bnb[['host_name', 'id']].groupby('id').count()
host_count.sort_values('id', ascending=False)
# show that the top host owning 327 airbnbs is host_id 219517861, 107434423, 30283594, 137358866, 16098958

# Checking host_id 219517861
bnb_copy = bnb
# bnb_copy.set_index('host_id',inplace = True)
bnb_copy

# maybe make bin with ranks of numbers of airbnbs
# 
# bnb_copy.loc[[219517861, 107434423, 30283594, 137358866, 16098958]]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [7]:
# How many neighborhood groups are available and which shows up the most?
bnb.groupby('neighbourhood_group').count()['id'].sort_values(ascending = False)

neighbourhood_group
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: id, dtype: int64

In [12]:
# Are private rooms the most popular in manhattan?
print(bnb[bnb['neighbourhood_group'] == 'Manhattan'].groupby('room_type').count()['id'])
print()
print('No, private rooms are NOT the most popular in Manhattan, Entire home/apt are')

room_type
Entire home/apt    13199
Private room        7982
Shared room          480
Name: id, dtype: int64

No, private rooms are NOT the most popular in Manhattan, Entire home/apt are

In [25]:
# Which hosts are the busiest and based on their reviews?
 
bnb.sort_values('number_of_reviews')
host_review_sum = bnb.groupby(['host_id', 'host_name'])['number_of_reviews'].sum()
top_host = host_review_sum.sort_values(ascending = False).head(1)
top_host

host_id   host_name
37312959  Maya         2273
Name: number_of_reviews, dtype: int64

In [30]:
#Which neighorhood group has the highest average price?
neighborhood_avg_price_sorted = bnb.groupby('neighbourhood_group')['price'].mean().sort_values(ascending = False)
print(neighborhood_avg_price_sorted)
print()
print(f'The most expensive avg room price for a neighborhood group is:'\
        + ' \nManhattan with an average price of ${:0.2f}.'.format(neighborhood_avg_price_sorted[0]))

neighbourhood_group
Manhattan        196.875814
Brooklyn         124.383207
Staten Island    114.812332
Queens            99.517649
Bronx             87.496792
Name: price, dtype: float64

The most expensive avg room price for a neighborhood group is:
Manhattan with a average price of $196.88.

In [34]:
# Which neighbor hood group has the highest total price?
neighborhood_sum_price_sorted = bnb.groupby('neighbourhood_group')['price'].sum().sort_values(ascending = False)
print(neighborhood_sum_price_sorted)
print()
print(f'The largest sum of room prices for a neighborhood group is:'\
        + ' \nManhattan with a sum price of ${:0.2f}.'.format(neighborhood_sum_price_sorted[0]))

neighbourhood_group
Manhattan        4264527
Brooklyn         2500600
Queens            563867
Bronx              95459
Staten Island      42825
Name: price, dtype: int64

The largest sum of room prices for a neighborhood group is:
Manhattan with a sum price of $4264527.00.

In [38]:
#Which top 5 hosts have the highest total price?
host_sum_price_sorted = bnb.groupby(['host_id', 'host_name'])['price'].sum().sort_values(ascending = False)[:5]
print('These are the top 5 hosts in terms of total Airbnb prices')
print(host_sum_price_sorted)

These are the top 5 hosts in terms of total Airbnb prices
host_id    host_name
219517861  Sonder (NYC)    82795
107434423  Blueground      70331
156158778  Sally           37097
205031545  Red Awning      35294
30283594   Kara            33581
Name: price, dtype: int64

In [64]:
# Who currently has no (zero) availability with a review count of 100 or more?

# Total number of reviews
host_reviews_sum = bnb.groupby(['host_id', 'host_name'])['number_of_reviews'].sum()
print(host_reviews_sum)
# renaming sum row so we can query it
host_reviews_sum = host_reviews_sum.reset_index(name ='total_reviews')
# only getting host with 100 or more total reviews
host_reviews_over_100 = host_reviews_sum[host_reviews_sum['total_reviews'] >= 100]
print(host_reviews_over_100)

print()
# Total availability
available = bnb[['host_id', 'host_name', 'availability_365']]
host_sum_available = bnb.groupby(['host_id', 'host_name'])['availability_365'].sum().reset_index(name ='total_available')
host_none_available = host_sum_available[host_sum_available['total_available'] == 0]
host_none_available
# how to do math operation on column
# new_df = available.apply(lambda x: x - 365 if x.name == 'availability_365' else x) 

# TODO must find the intersection of host_id's between the two df's

host_id    host_name
2438       Tasos          1
2571       Teedo         27
2787       John         105
2845       Jennifer      46
2868       Letha M.       2
                       ...
274273284  Anastasia      0
274298453  Adrien         0
274307600  Jonathan       0
274311461  Scott          0
274321313  Kat            0
Name: number_of_reviews, Length: 37439, dtype: int64
         host_id host_name  total_reviews
2           2787      John            105
5           2881      Loli            390
10          3647    Rafael            108
11          3867      Luke            172
12          4396     Casey            108
...          ...       ...            ...
35389  232251881  Lakshmee            482
35664  240055586    George            127
35794  244082709       Jfk            114
35807  244361589   Row NYC            305
36174  253906467      Erik            103

[3196 rows x 3 columns]

         host_id host_name  total_available
0           2438     Tasos                0
9           3563     Arnie                0
16          6041   Miranda                0
18          7192     Laura                0
24          7356     Garon                0
...          ...       ...              ...
36877  265280713     Lucas                0
37074  268138154     Julio                0
37193  269818165   Michael                0
37361  272748063    Rosana                0
37418  273824202     David                0

[15637 rows x 3 columns]

In [ ]:
# What host has the highest total of prices and where are they located?

In [ ]:
# When did Danielle from Queens last receive a review?

## Further Questions

1. Which host has the most listings?

2. How many listings have completely open availability?

3. What room_types have the highest review numbers?

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --